<div class = "rating" id = "rating">

    <div class = "topReview" style = "display: flex;">
        <div class = "reviewImg"><img src="/images/user.png" alt="prof" style = "max-width: 100%; max-height: 100%;"></div> 
                
        <div class="profDets" id = "profDets">
            <div class = "flexDisplay" id = "flexDisplay" style = "display: block;">
                <div class="profBold" id = "profBold">{{profname}}</div> 
                <div class="subBold" id = "subBold">{{subject}}</div> 
            </div>
        </div>

        <div id="moreOptions" class = "more-content">
            <button class="button1" id = "button1">Edit</button>
            <button class="button2" id = "button2">Delete</button>
            <button class="button3" id = "button3" style = "display: none;">Cancel</button>
            <button class="button4" id = "button4" style = "display: none;">Submit</button>
        </div>
        
    </div>

    <div class = "starsDate" id ="starsDate">
        <div class = "starRating" id ="starRating">
            <img src="/images/star.png" alt="star" width = "20" height = "20"> 
            <p class = "stars" id ="stars">{{stars}}</p> 
        </div>
        <div class="date" id ="date">{{date}}</div>
    </div>

    <div class = "review" id = "userReview" contenteditable="false">{{review}}</div>

</div>