<div class = "rating">

    <div class = "topReview" style = "display: flex;">
        <div class = "reviewImg"><img src="/images/user.png" alt="prof" style = "max-width: 100%; max-height: 100%;"></div> 
                
        <div class="profDets">
            <div style = "display: block;">
                <div class="profBold">{{profname}}</div> 
                <div class="subBold">{{subject}}</div> 
                <!-- <div class="userBold">{{email}}</div>  -->
            </div>
        </div>

        <div class="more">                        
            <button onclick= "reviewOpts()" class = "moreButton"><img src="/images/more.png" alt="more"></button> 
            <!-- <img src="more.png" alt="more"> -->
            <div id="moreOptions" class="more-content">
                <button onclick="window.location='rating_a_prof.html'">Edit</button>
                <button >Delete</button>
            </div>
        </div>
        
    </div>

    <div style="margin-left: 50px;margin-top: 25px; width: 800px; display: flex;">
        <div class = "starRating"><img src="/images/star.png" alt="star" width = "20" height = "20"> <p>{{stars}}</p> </div>
        <div class="date">{{date}}</div>
    </div>
    <p class = "review" id = "userReview">{{review}}</p>

</div>