<html>
    <head>
        <title>Professor's Page</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/profiles.css">
        <script src="/js/index.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/topBar.js"></script> 
        <script src="/js/profpage.js" type="text/javascript"></script>

         <script>
            function reviewOpts() {
                document.getElementById("moreOptions").classList.toggle("reveal");
            }
        </script>   
        
    </head>
    {{! -- 
    reviewer: {
        type: String,
        required: true
    },
    
    profname: {
        type: String,
        required: true
    },
    subject: {
        type: String,
        required: true
    },
    review: {
        type: String,
        required: true
    },
    stars: {
        type: Number,
        required: true
    },
    date: {
        type: String,
        required: true
    }
    --}}
    <body>
        {{> topBar}}

        <div class = "profileTitle">
            <div class = "profilePic"><img src="/images/user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div> <!-- Removed profProfilePic-->
            
            <h1>{{profname}}</h1><br>
            <p style ="margin-top:40px;">{{email}}Arturo</p>
            <p style ="margin-top:85px;">{{college}}CCS</p>
            <p style ="margin-top:130px;">{{department}}ST</p>
            <p style ="margin-top:185px;">✯{{stars}}4.9</p> <!--NEED TO PUT BELOW PROFILE PIC, add margin-left or smtg-->
            <form method="POST"  autocomplete="off"> 
                <p class = "label">First Three Digits of Student ID</p> 
                <input class = "inputtxt" type="number" id="studentid" maxlength="3" name = "studentid" placeholder="Ex: 120" required>
                <p class ="msg" id = "errorID">{{errorID}}</p>

                <p class = "label">Professor's Name</p>
                <input class = "inputtxt" type="text" id="name" name = "name" placeholder="Full Name" required>
                <p class ="msg" id = "errorName">{{errorName}}</p>

                <p class = "label">Subject</p>
                <input class = "inputtxt" type="subject" id="subject" name = "subject" placeholder="Subject Taught" required>
                <p class ="msg" id = "errorSubject">{{errorSubject}}</p>

                <p class = "label">Date</p>
                <input class = "inputtxt" type="date" id="date" name = "date" placeholder="Ex: 06/03/2022" required>
                <p class ="msg" id = "errorDate">{{errorDate}}</p>

                <p class = "label">Review</p>
                <input class = "inputtxt" type="text" id="review" name = "review" placeholder="Ex: Helpful, Patient" required>
                <p class ="msg" id = "errorReview">{{errorReview}}</p>

                <p class = "label">Stars</p>
                <input class = "inputtxt" type="number" id="stars" minlength="1" placeholder="Must be at least 1 star" name = "stars" required>
                <p class ="msg" id = "errorStars">{{errorStars}}</p>

                <input class = "writeReview" type="submit" value = "Rate This Professor">
            </form>
        </div>

        <div class = "userRatings">
            <h1>All Reviews</h1><br>
            <p class = "numReviews">1 Reviews</p>

            {{#each reviewEntries}}
				{{> review reviewer=reviewer profname=profname subject=subject review=review stars=stars date=date}}
			{{/each}}

        </div>

            
        <footer>
            <div class = "footer">
                <p>CCAPDEV MP<br>Atienza, Capada, Garcia</p>
            </div>
        </footer>
                 
    </body>
</html>