<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/css/account.css">
        <script src="/js/register.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

    </head>
    <body>
        <div class = "register">
            <h1 class = "welcomeh1">DLSU Profs To Pick</h1>
            <form method="POST"  autocomplete="off"> 
                <p class = "label">Student ID</p> 
                <input class = "inputtxt" type="number" id="studentid" minlength="8" name = "studentid" placeholder="Ex: 12012345" required>
                <p class ="msg" id = "errorID">{{errorID}}</p>

                <p class = "label">Name</p>
                <input class = "inputtxt" type="text" id="name" name = "name" placeholder="Full Name" required>
                <p class ="msg" id = "errorName">{{errorName}}</p>

                <p class = "label">Email</p>
                <input class = "inputtxt" type="email" id="email" name = "email" placeholder="DLSU student email" required>
                <p class ="msg" id = "errorEmail">{{errorEmail}}</p>

                <p class = "label">College</p>
                <input class = "inputtxt" type="text" id="college" name = "college" placeholder="Ex: College of Computer Studies" required>
                <p class ="msg" id = "errorCollege">{{errorCollege}}</p>

                <p class = "label">Program</p>
                <input class = "inputtxt" type="text" id="program" name = "program" placeholder="Ex: BSCS" required>
                <p class ="msg" id = "errorProgram">{{errorProgram}}</p>

                <p class = "label">Password</p>
                <input class = "inputtxt" type="password" id="password" minlength="6" placeholder="Must be at least 6 characters" name = "password" required>
                <p class ="msg" id = "errorPassword">{{errorPassword}}</p>

                <p class = "label">Confirm Password</p>
                <input class = "inputtxt" type="password" id="confirmpw" minlength="6" placeholder="Must be at least 6 characters" name = "confirmpw" required>
                <p class ="msg" id = "errorConfirm">{{errorConfirm}}</p>

                <input class = "accountbttn" type="submit" id = "submits" value = "Register">
            </form>

            <p style = "margin-top: 10px;margin-left:163px; margin-bottom: 5px;color: #FFFFFF;">Have an account already?</p>
            <a href = "/" style = "margin-left:207px;">Login Here</a>

        </div>
    </body>
</html>