<html>
    <head>
        <title>User Profile</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/profiles.css">
        <script type="text/javascript" src="/js/topBar.js"></script>     

        <script>
            function reviewOpts() {
                document.getElementById("moreOptions").classList.toggle("reveal");
            }
        </script>

    </head>
    <body>
        {{> topBar}}

        <div class = "profileTitle">
            <div class = "profilePic"><img src="/images/user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div>
            
            <h1>{{name}}</h1><br>
            <p style ="margin-top:40px;">{{email}}</p>
            <p style ="margin-top:85px;">{{college}}</p>
            <p style ="margin-top:130px;">{{program}}</p>
            <p style ="margin-top:175px;">{{studentid}}</p>
        </div>

        <div class = "userRatings">
            <h1 class = "grayHeader">Your Rated Profs</h1><br>
            <div style = "margin-top: 200px;"></div>
            {{#each reviewEntries}}
				{{> profileReview reviewer=reviewer profname=profname subject=subject review=review stars=stars date=date}}
			{{/each}}
        </div>

        {{> footer}}
                 
    </body>
</html>